*{
    margin: 0;
    padding: 0;
   
}
.main{
    display: flex;
    height: 50px;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
}
.navbar{
    display: flex;
    gap:50px;
    justify-content:center;
    
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
#humburger{
    display: none;
}
.image-sec{
  
background-image: url("./utilities/img1.jpg");
height: 120vh;
width: 100%;
position: absolute;
background-size: cover;
background-position: center; 
background-repeat: no-repeat;
}
.lorem{
    width:30%;
    color: white;
    position: relative;
    margin: 15% 0% 0% 9%;
    padding: 2% 5% 3% 3%;
    background-color: rgba(205, 110, 63, 0.777);
}
 .image-sec-bottom{
    height: 15vh;
    position: relative;
    margin-top: 20%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(223,152,220,1) 0%, rgba(236,29,151,1) 0%, rgba(233,79,192,1) 2%, rgba(226,109,183,1) 12%, rgba(237,161,90,1) 90%, rgba(252,176,69,1) 100%);
 }
#icon{
    display: flex;
    gap:5px;
}
 @media screen and (min-width:320px) and (max-width:650px){
    .navbar{
        display: none;
        
    }
    #humburger{
        display: block;
    }
    
 }